<h1> edit corgi </h1>

<%= form_with(model: @corgi) do |f| %> 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :color %><br>
    <%= f.text_area :color %> 
  </p>

  <p> 
    <%= f.submit %> 
  </p>
<% end %> 
<%= link_to 'Back to Corgis Index', corgis_path %> 
